-e git+https://github.com/w-sugar/DTC_AICITY2022@377a21aee11ad3584b9d5aaa0d3988cf176233e3#egg=mmcls&subdirectory=mmclassification

-e git+https://github.com/w-sugar/DTC_AICITY2022@377a21aee11ad3584b9d5aaa0d3988cf176233e3#egg=mmdet&subdirectory=mmdetection
